<ion-header [translucent]="true">
  <ion-toolbar collapse="condense">
    <ion-title>
      Catatanku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent;">
      <div class="kepala">Catatanku</div>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let db of ['','','','','','','','','','','']">
    <ion-card-content>
      <div class=" judul">Label</div>
      <div class="waktu">Label</div>
    </ion-card-content>
  </ion-card>

  <div style="height: 100px;"></div>

  <div class="ion-padding ion-text-center" style="position: fixed;bottom: 0;width: 100%;">
    <ion-button [routerLink]="['/detail']">Tambah Catatan</ion-button>
  </div>
</ion-content>