ion-content {
  // background-image: url(/assets/bg.png);
  --background: url(/assets/bg.png) 0 0/100% 100% no-repeat;
  background-size: cover;
}

ion-title{
  --background: transparent !important;
}

.kepala { 
  color: #fff;
  font-size: 26px;
  font-weight: 700; 
  padding: 0 20px;
  text-shadow: 1px 1px 2px  rgb(3, 3, 49);
}

.judul {
  font-weight: 600;
}

.waktu {
  color: #bbb;
  font-size: 12px;
  font-weight: 600;
}
